// COLOR VARIABLES
$navy:  #002B75;
$blue:  #0050D4;
$aqua:  #00D9F7;
$teal:  #00A6A6;
$olive: #00B562;
$green: #00D942;
$lime:  #B4D900;
$yellow:  #EBCF00;
$orange:  #EB7700;
$red:     #EB0012;
$maroon:  #790009;
$fuchsia: #FF00C3;
$purple:  #8D00FF;
$white:  #fff;
$silver: #777;
$gray:   #333;
$black:  #000;

*{
  box-sizing:border-box;
}

body {
  margin:0;
  font-family:Raleway, Helvetica, Arial, sans-serif;
  color:$black;
  line-height:1.5em;
}

h1, h2 {
  text-align:center;
}

h1{
  font-size: 6.0em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(left, $yellow, $red);
  color: $orange;
  line-height: 1.2em;
  margin:0;

/*   &:before {
    display: block;
    content:'';
    background:$white;
    opacity:0.5;
    position:absolute;
    top:0;
    height:0.7em;
    width:100%;
  } */
}

h2{
  font-size:1.75em;
}

p, li {
  font-size:18px;
  text-align:left;
}

.flex.demo-style > div{
  padding:10px;
  font-size:18px;
  font-weight:bold;
  border:1px solid $yellow;
  min-height:100px;
  word-wrap:break-word;
  
  
  @media (min-width:490px){
    font-size:12px; 
  }
  @media (min-width:768px){
    font-size:18px; 
  }
  
  &.noborder{
    border:0 none;
  }
}

//small change to prism style
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    margin-top: 0;
}

.markup-block-header {
    background: #EB7700;
    background-image: -webkit-linear-gradient(right,$yellow,$orange);
    padding: 5px 15px;
    font-size: 18px;
    color: #fff;
}